.panel.panel-default
  .panel-heading
    %h3.panel-title.clearfix
      Meldingen
      = link_to new_alert_path do
        .btn.btn-default.pull-right
          %span.glyphicon.glyphicon-warning-sign
          Nieuwe Melding

  - if alerts.length > 0
    %ul.list-group
      - alerts.each do |alert|
        %li.list-group-item.list-group-item-danger
          - if alert.severity == 'hoog'
            %span.label.label-danger
              = alert.severity
          - else 
            %span.label.label-warning
              = alert.severity

          = link_to alert.title, alert_path(alert)
