.row
  .small-12.small-centered.column

    %h2.ui.black.header
      Meldingen

    .ui.top.attached.segment
      = link_to new_alert_path do
        .ui.labeled.mini.icon.button
          %i.add.icon
          Nieuwe Melding
    .ui.attached.segment
      .ui.selection.divided.list
        - alerts.each do |alert|
          .item
            .ui.red.horizontal.label
              STATUS
            .content
              = link_to alert.title, alert_path(alert), class: 'header'
              .description
                = alert.body
