%h1.ui.header
  %i.warning.icon
  .content
    Meldingen
    .sub.header 
      De laatste meldingen voor de bewonders van XYZ

.ui.stackable.items
  - alerts.each do |alert|
    .item.alert-item
      .content
        .meta
          = alert.created_at.strftime("%d-%m-%Y")
        .name
          = link_to alert.title, alert_path(alert)
        %p.description
          = alert.body
      .extra
        199 comments
