.panel.panel-info
  .panel-heading
    %h3.panel-title.clearfix
      Kalender
      = link_to new_post_path do
        .btn.btn-primary.pull-right
          %span.glyphicon.glyphicon-calendar
          Nieuw kalender item

  .panel-body
    Hieronder vindt u de kalender. Opkomende vergaderingen, clubmeetings en dansfestijnen.

  %ul.list-group
    %li.list-group-item Vergadering 12 augustus
    %li.list-group-item Boekenclub 8 augustus
    %li.list-group-item Handdoekenclub 4 augustus
