.panel.panel-success
  .panel-heading
    %h1.panel-title.clearfix
      Prikbord
      = link_to new_post_path do
        .btn.btn-success.pull-right
          %span.glyphicon.glyphicon-tag
          Nieuwe Prikker

  .panel-body
    Hieronder vindt u het prikbord.

  - if posts.length > 0
    %ul.list-group
      - posts.each do |post|
        %li.list-group-item
          = link_to post.title, post_path(post)
