- @active_tab = 'home'

.row
  .large-10.medium-10.small-12.medium-centered.column
    .ui.feed.segment
      %h2.ui.header
        Recente Activiteit

      .ui.fluid.icon.input
        = form_for @post do |f|
          = f.text_field :title

      - @activities.each do |activity|
        = render_activity activity
