- @active_tab = 'home'

.row
  .medium-9.small-12.column
    = render 'dashboard/top_form'
      
    - @activities.each do |activity|
      = render_activity activity

  .medium-3.small-12.column
    = render 'dashboard/sidenav'  
