- @active_tab = 'home'

.row
  .large-10.medium-10.small-12.medium-centered.column
    .ui.feed.segment

      = form_for @post do |f|
        .ui.fluid.action.input
          = f.text_field :title, placeholder: 'Plaats een bericht'
          .ui.icon.button
            %i.level.down.icon
      
      - @activities.each do |activity|
        = render_activity activity
