.row
  .medium-12.small-12.medium-centered.column
    .ui.segment
      %h1 Laatste Updates

      .ui.divider

      %h2 1 Mei
      %ul
        %li 9:00 - We zijn live in de gesloten beta!

      %h1 Op de planning
      .ui.divider
      %ul
        %li Uploaden van foto's bij meldingen
        %li Eigen homepage (waar nu alleen de log-in knop staat)
        %li Discussie bij feed items (dashboard)
        %li Maak tekst makkelijk op
        %li Berichten verwijderen op dashboard
        %li Pas jouw subdomein aan
        %li Aanpassen rollen leden
        %li Uitgebreide mogelijkheden voor labels / tags
