.row
  .medium-12.small-12.medium-centered.column
    .ui.segment
      %h1 Laatste Updates

      .ui.divider

      %h2 7 Mei
      %ul
        %li Security patch voor CVE-2014-0130.

      %h2 6 Mei
      %ul
        %li Kleine verbeteringen in privacy bescherming.
        %li De pagina van je organisatie is nu onder /organisation.
        %li Domici.ly is nu beter bestand tegen hele lange namen.
        %li Uitnodigingsemails komen nu minder vaak in spam.
        %li 
          Basisopmaak (html) werkt nu in meldingen. Je kan bijvoorbeeld iets dik maken door er 
          :escaped
            <b> </b> omheen te zetten.

      %h2 5 Mei
      %ul
        %li Database updates.

      %h2 4 Mei
      %ul
        %li Als je op de domici.ly knopt klikt, ga je naar je eigen subdomein.
        %li Je kan nu meerdere mensen tegelijk uitnodigen! Een emailadres per regel.

      %h2 3 Mei
      %ul
        %li Verschillende textuele verbeteringen

      %h2 2 Mei
      %ul
        %li Mededelingen verschijnen nu in de feed.
        %li Afspraken verschijnen nu in de feed.
        %li Je kan nu zien wie er aanwezig is voor een afspraak door op 'Aanwezig' te klikken
        %li Link naar de toekomstige homepage (Domici.ly knop)
        %li Je kan nu heel makkelijk en mooi reageren op berichten in de feed!


      %h2 1 Mei
      %ul
        %li We zijn live in de gesloten beta!

      %h1 Op de planning
      .ui.divider
      %ul
        %li Uploaden van foto's bij meldingen
        %li Eigen homepage (waar nu alleen de log-in knop staat)
        %li Discussie bij feed items (dashboard)
        %li Maak tekst makkelijk op
        %li Berichten verwijderen op dashboard
        %li Pas jouw subdomein aan
        %li Aanpassen rollen leden
        %li Uitgebreide mogelijkheden voor labels / tags
        %li Uitleg en veelgestelde vragen onder help
