.row
  .small-8.small-centered.column
    .ui.piled.feed.segment
      %h2.ui.header
        Laatste updates
      .event
        .label
          %i.circular.code.icon
        .content
          .date
            8 Juli
          .summary
            Je kan nu de tekst in meldingen aanpassen door erop te klikken!
