.row
  .medium-7.small-12.medium-centered.column
    .ui.segment
      %h1 Laatste Updates
      .ui.divider
      %h2.ui.black.header
        Live!
        .sub.header 20 Juni
      %p.blog
        Domici.ly is live!
        %br
        %br
        Het is mogelijk om via www.domici.ly een nieuwe vereniging in te schrijven. Aanmelden kan nu geheel automatisch.
        %br
        Daarnaast hebben wij het betaalsysteem van Mollie geïmplementeerd waardoor via iDEAL betaald kan worden.
        %br
        %br
        De volgende grote update zal het uploaden van bestanden (zoals foto's) mogelijk maken.

