- @active_tab = 'hoa'

%br
%br

.row
  .large-10.medium-10.small-12.medium-centered.column
    %h1.ui.blue.header
      %i.users.icon
      .content
        = current_user.hoa_name
        .sub.header
          = "#{current_user.hoa.users.count} leden"

    %br
    = render 'dashboard/alerts', alerts: @alerts
