- @active_tab     = 'home'
- @active_button  = 'dashboard'

.row
  .small-9.column
    = render 'dashboard/top_form'
    - @activities.each do |activity|
      = render_activity activity
    
  .small-3.column
    = render 'dashboard/sidenav'  
