.container
  %h1 Admin
  
  %button.btn.btn-lg
    %i.glyphicon.glyphicon-plus
      VvE

  %button.btn.btn-lg
    %i.glyphicon.glyphicon-plus
      Admin

  %button.btn.btn-lg
    %i.glyphicon.glyphicon-plus
      User
  
  %button.btn.btn-lg
    %i.glyphicon.glyphicon-plus
      Iets anders
  
      
