- if activity.trackable
  .ui.feed.segment
    .event
      .label
        %i.circular.inverted.blue.comment.icon
      .content
        .date
          = "#{format_time(activity.created_at)} geleden"
        .summary
          = link_to_activity_owner activity
          = activity.trackable.title
- else
  /iets anders hier
