- @active_tab     = 'home'
- @active_button  = 'billing'

.row
  = render 'dashboard/sidebuttons'

  .small-10.column
    .ui.segment

      %h1.header
        Facturatie
        = link_to new_billing_path, class: 'right positive floated ui button' do
          Verleng abonnement

      .ui.large.relaxed.list
        .item
          .content
            .header Type abonnement
            = current_hoa.subscription
        .item
          .content
            .header Looptijd
            - if current_hoa.subscribed_until # WIP
              Je abonnement loopt nog 
              = format_event_date current_hoa.subscribed_until
            - else
              Je hebt geen lopend abonnement.

    %table.ui.table.segment
      %h2 Betalingen
      %thead
        %th Bedrag
        %th Kenmerk
        %th Datum

      %tbody
        %tr
          %td 100
          %td basis abonnement 1 juni - 1 september
          %td 1 juni
