- @active_tab = 'welcome'
.row
  .medium-6.small-12.medium-centered.column
    .ui.segment
      %h1 Maak je vereniging aan

      = form_for @new_hoa do |f|

        .ui.form

          .field
            %label Naam vereniging
            = text_field_tag :hoa_name

          .field
            %label Naam in Domici.ly ('vve-bos' wordt dan vve-box.domici.ly)
            = text_field_tag :subdomain_name
            .ui.small.message
              .header#subdomain_full
                naam.domici.ly
              .content
                Dit is waar je straks jouw vereniging kan vinden.


