.row
  .large-10.medium-10.small-12.medium-centered.column
    .ui.segment
      %h1 Afspraak aanpassen

      = render 'form'

      = link_to 'Show', @event
      \|
      = link_to 'Back', events_path
