- @active_tab = 'events'
.row
  .large-10.medium-10.small-12.medium-centered.column

    .ui.segment
      = link_to 'Nieuwe Afspraak', new_event_path, class: 'ui button'

      .ui.divider
      
      = render 'events/table', events: @events

