- if new_alert? alert
  .ui.three.steps
    .ui.step
      Nieuw
    .ui.step
      In behandeling
    .ui.step
      Klaar

  %br

- elsif alert_in_progress? alert
  .ui.blue.top.attached.message
    .content
      .header
        Melding in behandeling
        = render 'alerts/actions'

- elsif alert_completed? alert
  .ui.top.attached.message
    .content
      .header
        Melding afgehandeld
        = render 'alerts/actions'
