- if new_alert? alert
  .ui.small.red.label
    = progress_name alert
- elsif alert_in_progress? alert
  .ui.small.purple.label
    = progress_name alert
- elsif alert_completed? alert
  .ui.small.green.label
    = progress_name alert
- else
  .ui.small.red.label
    Geen status
