- if new_alert? alert
  .ui.red.label
    = progress_name alert
- elsif alert_in_progress? alert
  .ui.purple.label
    = progress_name alert
- elsif alert_completed? alert
  .ui.green.label
    = progress_name alert
- else
  .ui.red.label
    Geen status
