- if new_alert? alert
  .ui.red.horizontal.label
    = progress_name alert
- elsif alert_in_progress? alert
  .ui.purple.horizontal.label
    = progress_name alert
- elsif alert_completed? alert
  .ui.green.horizontal.label
    = progress_name alert
- else
  .ui.red.horizontal.label
    Geen status
