- if new_alert? alert
  .ui.green.horizontal.label
    Nieuw
- elsif alert_in_progress? alert
  .ui.blue.horizontal.label
    In behandeling
- elsif alert_completed? alert
  .ui.horizontal.label
    Klaar
- else
  .ui.red.horizontal.label
    Geen status
