- if new_alert? alert
  .ui.small.horizontal.red.label
    = progress_name alert
- elsif alert_in_progress? alert
  .ui.small.horizontal.purple.label
    = progress_name alert
- elsif alert_completed? alert
  .ui.small.horizontal.green.label
    = progress_name alert
- else
  .ui.small.horizontal.red.label
    Geen status
