- @active_tab = 'alerts'
.row
  .medium-2.column
    = link_to new_alert_path, id: 'new-alert' do
      .ui.small.fluid.green.button
        Nieuwe Melding
    .ui.small.fluid.secondary.vertical.menu
      %a.item.default-filter Actief
      %a.item.filter{ "data-filter" => "nieuw" } Nieuw
      %a.item.filter{ "data-filter" => "in behandeling" } In behandeling
      %a.item.filter{ "data-filter" => "klaar" } Klaar

  .medium-10.column#alerts-table
    .ui.small.icon.input.alert-search
      %input.search{placeholder: 'Zoek op melding..' }
      %i.inverted.search.icon


    .ui.top.attached.segment

      .ui.selection.dropdown
        .text Sorteer op..
        %i.dropdown.icon
        .menu
          .item.sort{ "data-sort" => "updated_at" } Laatste Update
          .item.sort{ "data-sort" => "assignee" } Toegewezen
          .item.sort{ "data-sort" => "state" } Status

      .ui.selection.dropdown
        .text Aflopend
        %i.dropdown.icon
        .menu
          .item.sortorder{ "data-sort" => "desc" } Aflopend
          .item.sortorder{ "data-sort" => "asc" } Oplopend

    .ui.attached.segment
      = render 'alerts/table', alerts: @alerts
