- @active_tab = 'alerts'
.row
  .medium-12.column

    #alerts-table
      .ui.top.attached.segment
        .ui.small.icon.input.alert-search
          %input.search{placeholder: 'Zoek op melding..', style: {width: "300px"}}
          %i.inverted.search.icon

        .ui.small.icon.black.button.sort{ "data-sort" => "updated_at" }
          %i.sort.icon
          Update

        .ui.small.icon.black.button.sort{ "data-sort" => "assignee" }
          %i.sort.icon
          Toegewezen

        .ui.small.icon.black.button.sort{ "data-sort" => "state" }
          %i.sort.icon
          Status

        = link_to new_alert_path, id: 'new-alert' do
          .ui.labeled.small.green.icon.button.float-right
            %i.add.icon
            Melding

      .ui.attached.segment
        = render 'alerts/table', alerts: @alerts
