- @active_tab = 'alerts'
.row
  .large-10.medium-10.small-12.medium-centered.column

    .ui.segment

      = link_to 'Nieuwe Melding', new_alert_path, class: 'ui button'

      = render 'alerts/table', alerts: @alerts
