- @active_tab = 'add'
.row
  .medium-12.small-12.medium-centered.column
    .ui.segment
      %h1.ui.header 
        .content
          Nieuwe Melding
        .sub.header 
          Een melding is x en y

      = render 'form'
