- @active_tab = 'add'
.row
  .medium-12.small-12.medium-centered.column
    .ui.segment
      %h1.ui.header 
        .content
          Nieuwe Melding
        .sub.header 
          Maak een melding aan. Deze kan later nog worden aangepast.

      = render 'form'
