- @active_tab = 'help'
.row
  .medium-12.small-12.medium-centered.column
    .ui.segment
      %h1.ui.header 
        .content
          Hulp, suggesties en bugs
        .sub.header
          .ui.message
            Heb je ergens hulp bij nodig; heb je een suggestie of een bug gevonden? 
            %br
            Meld het hieronder en wij mailen je zo snel mogelijk terug.

      = render 'form'
