- if progress == 'new'
  .ui.red.horizontal.label nieuw
- elsif progress == 'in progress'
  .ui.purple.horizontal.label bezig
- elsif progress == 'completed'
  .ui.green.horizontal.label klaar
- else 
  %i.inverted.circular.question.icon
