- if progress == 'new'
  %i.red.inverted.circular.warning.icon
- elsif progress == 'in progress'
  %i.teal.inverted.circular.ellipsis.horizontal.icon
- elsif progress == 'completed'
  %i.inverted.green.circular.checkmark.icon
