// Place all the styles related to the Alerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-step,
.new-step:after {
  background: #D95C5C!important;
}

.in-progress-step,
.in-progress-step:after {
  background: #564F8A!important;
}

.label, .ui.tag.label {
  margin-left: inherit;
  position: inherit;
  padding: inherit;
  border-radius: inherit;
}

.alert-search {
  width: 300px;
}

.event {
  padding: 0 !important;
}

.alert-feed-top {
  text-transform: none !important;
}

.alert-feed-title {
  font-weight: bold;
  font-size: 1.2em;
  // margin-top: 1.5em !important;
  color: #555;
}

.alert-feed-body {
  margin-top: 0.3em !important;
}

.alert-feed-actions {
  padding: 4px 15px !important;
}
