// Place all the styles related to the Alerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-step,
.new-step:after {
  background: #D95C5C!important;
}

.in-progress-step,
.in-progress-step:after {
  background: #564F8A!important;
}

.label, .ui.tag.label {
  margin-left: inherit;
  position: inherit;
  padding: inherit;
  border-radius: inherit;
}
