.ui.relaxed.horizontal.divided.list
  .item
    .content
      %a.header Naam
      .description
        = user.full_name

  / .item
  /   .content
  /     %a.header Adres
  /     .description
  /       PLACEHOLDER

  .item
    .content
      %a.header Email
      .description
        = user.email

  .item
    .content
      %a.header Vereniging
      .description
        = user.hoa_name

  .item
    .content
      %a.header Rol
      .description
        = pretty_role user
