- if current_user
  .ui.secondary.pointing.menu
    %a.active.item{ href: '/' }
      %i.home.icon
      Homely
    - if admin?
      %a.item{ href: '/superadmin'}
        %i.settings.icon
        Admin
    .right.menu
      = link_to 'Log uit', destroy_user_session_path, class: 'ui item', method: :delete
