.quick-add-buttons
  = link_to new_alert_path, class: 'ui tiny blue domicily-blue button lonely-horizontal' do
    %i.warning.icon
    nieuwe melding

  = link_to new_event_path, class: 'ui tiny blue domicily-blue button lonely-horizontal' do
    %i.calendar.icon
    nieuwe afspraak

  = link_to new_announcement_path, class: 'ui tiny blue domicily-blue button lonely-horizontal' do
    %i.mail.icon
    nieuwe mededeling
