<p>Hoi <%= @resource.email %>!</p>

<p>Je bent uitgenodigd voor Domici.ly, waarschijnlijk door iemand in jouw buurt of gebouw! Klik op de link hieronder om de uitnodiging te accepteren.</p>

<p><%= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @token) %></p>
